In [2]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

# duplicate

In [7]:
df_obj=DataFrame({'Coloum1' : [1, 2, 3, 3, 4, 2, 2, 4], 
                'coloum2':[ "a", "b", "c", "c", "d", "a", "c", "d"]})

df_obj

   Coloum1 coloum2
0        1       a
1        2       b
2        3       c
3        3       c
4        4       d
5        2       a
6        2       c
7        4       d

In [11]:
df_obj.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
dtype: bool

In [12]:
df_obj.drop_duplicates()

   Coloum1 coloum2
0        1       a
1        2       b
2        3       c
4        4       d
5        2       a
6        2       c

In [13]:
df_obj

   Coloum1 coloum2
0        1       a
1        2       b
2        3       c
3        3       c
4        4       d
5        2       a
6        2       c
7        4       d

In [15]:
df_obj.drop_duplicates(['coloum2'])

   Coloum1 coloum2
0        1       a
1        2       b
2        3       c
4        4       d